<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="m-2">Welcome!</h1>
    <div class="container shadow w-75 p-5 m-5 rounded bg-secondary text-white">
        <div class="row">
            <h2 class="col">Full name: </h2>
            <h2 class="col">{{this.user.full_name}}</h2>
        </div>
        <div class="row">
            <h2 class="col">Email: </h2>
            <h2 class="col">{{this.user.email}}</h2>
        </div>
        <div class="row">
            <h2 class="col">Cart: </h2>
            <h2 class="col">{{this.user.cart}}</h2>
        </div>
        <div class="row">
            <h2 class="col">Your role: </h2>
            <h2 class="col">{{this.user.rol}}</h2>
        </div>
    </div>
</div>